body {
    background-color: #008B8B;
    margin: 0;
    padding: 0;
}

table{
    border: 2px solid black;
}
.column {
    height: max-content;
    padding: 10px;
}
#task2{
    position: absolute;
    top: 400px;
    display: flex;
    flex-direction: row;
}
#app{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 200px;
}